.App {
  text-align: center;
  background-color: #7393a7;
}

.title {
  color: white;
  padding: 10px;
}

.output-style {
  width: auto;
  height: 482px;
  overflow: auto;
  background-color: #b5cfd8;
  padding: 10px;
  border-radius: 4px;
  text-align: left;
  margin-bottom: 80px;
}

.karen {
  text-decoration: none;
  color: white;
}

code {
  background: white;
  padding: 1px 4px 2px 4px;
  font-size: 12px;
  font-weight: bold;
}